body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
	font-family: 'Roboto', Arial, sans-serif;
}
body {
	min-width: 900px;
	max-width: 1200px;
    margin: 0;
    padding: 0;
    background: #849d8f;
    margin-left: 30px;
}
h1 {
	font-size: 60px;
	line-height: 60.35px;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	padding-top: 410px;
	word-wrap: break-word;
	width: 1045px;
	margin-left: 100px;
}
h2 {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	font-family: 'Roboto', Arial, sans-serif;
}
h3 {
	font-size: 35px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}
p {
	word-wrap: break-word;
}
ul li {
	display: inline-block;
}
h4 {
	display: block;
}
a {
	color: #ffffff;
}
a:hover,
a:active {
	color: #ffbc9e;
}
.btn  {
	display: inline-block;
	padding: 0 20px;	
	vertical-align: top;
	line-height: 42px;
	font-size: 18px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 23px;
	border: none;
	outline: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);

}
.btn:hover {
	color: #ffffff;	
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
	border: none;
	outline: none;
}

.btn:active {
	color: #ffffff;	
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
	border: none;
	outline: none;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
.contant {
	position: relative;
	margin-top: 5px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.main-navigation {
	float: left;
	width: 600px;
}
.main-navigation a {
	padding: 10px 15px;
}
.main-navigation a:hover {
	background: #f7f6f3;
	color: #333333;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.user-block {
	display: inline-block;
	text-align: right;
	width: 400px;
}
.user-block a {
	text-decoration: none;
}
.user-block a:hover {
	color: #313131;
	background: #f8f7f4;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
}
.search  {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	padding: 8px 16px;
	background:  #a2b8ac;
	border-radius: 50%
} 
.search::before {
	content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    right: 10px;
	background: url("../img/sprite1.png") 0px 1px no-repeat;
}
.search:hover::before {
	background: url("../img/sprite1.png") 0px -23px no-repeat;
}
.login {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px; 
	text-align: right;
    padding: 8px 15px 8px 45px;
    background: #a2b8ac;
    border-radius: 20px;
}

.login::before {
 	content: "";
    position: absolute;
    width: 20px;
    height: 19px;
    left: 20px;
    background: url("../img/sprite1.png") no-repeat -20px 1px;
}
.login:hover::before {
	 background: url("../img/sprite1.png") no-repeat -20px -22px;
}
.cart {
	position: relative;
	display: inline-block;
	margin-left: 10px; 
	margin-top: 10px;
	padding: 8px 35px 8px 45px;
	text-align: right;
    padding-left: 40px;
    background: #a2b8ac;
    border-radius: 20px;
    margin-right: 30px;
}
.cart::before {
  content: "";
  position: absolute;
  width: 22.5px;
  height: 21px;
  left: 15px;
  background: url("../img/sprite1.png") no-repeat -45px 1px;

}
.cart:hover::before {
	background: url("../img/sprite1.png") no-repeat -45px -20px;
}
.info {
	position: absolute;
	width: 200px;
	top: 50px;
	right: 50px;	
	font-size: 14px;
	text-align: right;
}

.number {
	display: block;

	font-size: 22px;
	font-weight: bold;
}
.index-logo {
	margin-top: 5px;
	margin-left: 20px;
	float: left;
    width: 153px;
    height: 63px;
}
.index-logo img {
	width: 153px;
	height: 63px;
}
.index-gllacy-items {
margin-top: -115px;
background: url("../img/bg-icecream.png") no-repeat center top;

}
.index-gllacy-items a {
	margin-bottom: 30px;
	margin-left: 460px;
	padding: 0px 30px 0px 50px;
	display: inline-block;
	font-size: 31.48px;
	line-height: 62.93px;
	font-weight: bold;

}
.features {
	margin-bottom: 40px;
}
.features-item {
	float: left;
	width: 560px;
	margin-right: 25px;
	padding: 20px 15px;
	background: #90001f url("../img/bg-lampone.png") no-repeat 100%;
	border-radius: 20px;
	box-sizing: border-box;


}
.features-item:last-child {
    background: #3a2315 url("../img/bg-chocolate.png") no-repeat 100%;
	border-radius: 20px;
    margin-right: 0;
}
.features-item a {
	float: right;
}
.catalog {
    margin-bottom: 40px;
}
.catalog-items {
	width: 273px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 25px;
	margin-bottom: 40px;
}
.catalog-items:nth-of-type(3n+1) {
	margin-right: 0;
}
.hit {
	position: absolute;
}
.items-price {
	font-size: 45px;
	line-height: 13.13px;
	font-weight: bold;
	position: absolute;
	top: 210px;
	left:0;
}
.small {
	font-size: 30px;
}
.index-content {
	border-radius: 20px;
	width: 1146px;
	padding: 30px 20px;
	margin-bottom: 40px;
	background: #f1e8d5 url("../img/bg-wafl.jpg") 100%;
    color:  #323232;
}
.index-content h2 {
	color:  #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.index-content-left {
	position: relative;
	float: left;
	width: 563px;
    padding-left: 75px;
	box-sizing: border-box;
}
.index-content-left::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  background: url("../img/sprite1.png") no-repeat -299px 2px;
}
.index-content-left::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 80px;
  background: url("../img/sprite1.png") no-repeat -250px 2px;
}

.index-content-right {
	position: relative;
	float: right;
	width: 563px;
	padding-left: 75px;
	box-sizing: border-box;

}
.index-content-right::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  background: url("../img/sprite1.png") no-repeat -200px 2px;
}
.index-content-right::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 49px;
  left: 15px;
  top: 80px;
  background: url("../img/sprite1.png") no-repeat -349px 2px;
}
.news {
	margin-bottom: 40px;
	text-align: top;
}
.blog-news {
	box-sizing: border-box;
	padding-top: 27px;
	padding-bottom: 48px;
	padding-left: 20px;
	padding-right: 255px; 
    float: left;
	width: 560px;
	background: #ffffff url("../img/bg-strawberry.png") no-repeat 100%;
	border-radius: 20px;
	color: #5a5a5a;
}
.blog-news a {
	display: inline-block;
	color: #353535;
	width: 300px;
	word-wrap: break-word;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}
.news-letter {
	box-sizing: border-box;
	margin-right: 15px;
	padding: 40px 25px;
	float: right;
	width: 560px;
    background: #f8f7f4 url("../img/bg-mail.png") no-repeat 100%;
    border-radius: 20px;
    color: #5a5a5a;
}
.maps {
	margin-top: 40px;
    width: 1200px;
    background: #ffffff url("../img/map-pin.png") no-repeat 100%;
    min-height: 430px;
}
.contact-info {
	float: right;
	width: 300px;
	height: 305px;
	margin-top: 65px;
	margin-right: 27px;
	padding-top: 35px;
	padding-left: 27px;
	background: #fefefe;
	color: #343434;
	border-radius: 30px;
	text-align: left;
}
.contact-info .btn {
	margin-top: 27px;
}

.main-footer {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 25px;
}
.footer-social {
	float: left;
	width: 330px;
}
.social-btn {
	margin-right: 18px;
}
.footer-contacts {
	position: relative;
	float: left;
	width: 440px;
}
.footer-contacts  a  {
    display: inline-block;
    text-align: left;
    padding-right: 30px;
}
.footer-contacts li:nth-of-type(3) {
	padding-right: 11px;
}
.footer-copyright {
	float: right;
	width: 300px;
}
.footer-contacts::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 19px;
  left: 15px;
  top: 16px;
  background: url("../img/sprite1.png") no-repeat 0px -43px;
}

/* Каталог */
span.active {
	color: #ffffff;
	background: #d07058;
	border-radius: 20px;
	padding: 8px 13px 8px 12px;
	margin-right: 15px;
}
.pages  {
	float: right;
	margin: 0;
	padding: 0;	
	color: #ffffff;
	list-style: none;
}
.pages a {
	display: inline-block;
	width: 26px;
	height: 26px;	
	font-size: 16px;
	list-style: none;
	text-decoration: none;
	text-align: center;
}
.pages .active {
	color: #353535;
	background: #ffffff;
	border-radius: 50%;
}
.filter {
	display: inline-block;
	text-align: top;
}
.filter-bg {
	height: 35px;
	padding: 0 15px;	
	line-height: 35px;	
	background: #aabab0;
	border-radius: 20px;
}
.sorting {
	width: 195px;
}
select {
	background: #aabab0;
	border-radius: 20px;
	border: none;
	color: #ffffff;	
}
.price {
	width: 225px;
}
.fat {
	width: 408px;
}
.filler {
	width: 708px;
}
.submit {
	width: 148px;
	border-radius: 20px;
	border: none;
	color: #ffffff;	
}
