body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
	font-family: 'Roboto', Arial, sans-serif;
}
body {
	min-width: 900px;
    min-height: 2416px;
    margin: 0;
    padding: 0;
    background: #849d8f;
}
h1 {
	font-size: 60px;
	line-height: 60.35px;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	padding-top: 410px;
	word-wrap: break-word;
	width: 1045px;
	margin-left: 100px;
}
h2 {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-weight: normal;
	font-family: 'Roboto', Arial, sans-serif;
}
p {
	word-wrap: break-word;
}
ul li {
	display: inline-block;
}
h4 {
	display: block;
}
a
{
	color: #ffffff;
}
.btn  {
	background: #ee6240;
	padding: 15px 20px;
	border-radius: 30px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;

}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	margin-bottom: 20px;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-navigation {
	float: left;
	width: 600px;
}
.main-navigation a {
	padding: 10px 15px;
}
.main-navigation a:hover {
	background: #f7f6f3;
	color: #333333;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.user-block {
	display: inline-block;
	text-align: right;
	width: 400px;
}
.user-block a {
		text-decoration: none;
}
.user-block a:hover {
	color: #313131;
	background: #f8f7f4;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
}
.search {
	display: inline-block;
	margin-left: 10px; 
	margin-top: 20px;
	padding: 5px;
	text-align: right;
	background: #a2b8ac;
	border-radius: 20px;
} 
.search input {
	margin-top: 20px;
	display: none;
	text-align: right;
	background: #a2b8ac;
	border-radius: 20px;
}
.login {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px; 
	text-align: right;
    padding: 8px 15px 8px 45px;
    background: #a2b8ac;
    border-radius: 20px;
}

.login::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  left: 20px;

  background: #ffffff;
}

.cart {
	position: relative;
	display: inline-block;
	margin-left: 10px; 
	margin-top: 20px;
	padding: 8px 35px 8px 45px;
	text-align: right;
    padding-left: 40px;
    background: #a2b8ac;
    border-radius: 20px;
}
.cart::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  left: 15px;
  background: #ffffff;
}
.info {
	position: absolute;
	width: 200px;
	top: 50px;
	right: 20px;	
	font-size: 14px;
	text-align: right;
}

.number {
	display: block;

	font-size: 22px;
	font-weight: bold;
}
.index-logo {
	margin-top: 5px;
	margin-left: 20px;
	float: left;
    width: 153px;
    height: 63px;
}
.index-gllacy-items {
	margin-top: -100px;
	background: url("../img/bg-icecream.png") no-repeat center top;
}
.index-gllacy-items a {
	margin-bottom: 30px;
	margin-left: 460px;
	padding: 0px 30px 0px 50px;
	display: inline-block;
	font-size: 31.48px;
	line-height: 62.93px;
	font-weight: bold;

}
.features {
	margin-bottom: 40px;
}
.features-item {
	float: left;
	width: 560px;
	margin-right: 25px;
	padding: 20px 15px;
	background: #90001f url("../img/bg-lampone.png") no-repeat 100%;
	border-radius: 20px;
	box-sizing: border-box;

	/* Только для оформления сетки */
	min-height: 229px;
}
.features-item:last-child {
    background: #3a2315 url("../img/bg-chocolate.png") no-repeat 100%;
	border-radius: 20px;
    margin-right: 0;
}
.features-item a {
	float: right;
}
.catalog {
    margin-bottom: 40px;
}
.catalog-items {
	width: 273px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 25px;
	margin-bottom: 40px;
}
.catalog-items:nth-of-type(3n+1) {
	margin-right: 0;
}
.hit {
	position: absolute;
}
.items-price {
	font-size: 45px;
	line-height: 13.13px;
	font-weight: bold;
	position: absolute;
	top: 210px;
	left:0;
}
.small {
	font-size: 30px;
}
.index-content {
	border-radius: 20px;
	width: 1146px;
	padding: 30px 20px;
	margin-bottom: 40px;
	background: #f1e8d5 url("../img/bg-wafl.jpg") 100%;
    color:  #323232;
}

.index-content-left {
	float: left;
	width: 573px;

}

.index-content-right {
	float: right;
	width: 573px;

}
.news {
	margin-bottom: 40px;
}
.blog-news {
	box-sizing: border-box;
	padding: 25px 20px;
    float: left;
	width: 560px;
	background: #ffffff url("../img/bg-strawberry.png") no-repeat 100%;
	border-radius: 20px;
	color: #5a5a5a;

	 /* Только для оформления сетки */
  min-height: 220px;
}
.blog-news a {
	display: inline-block;
	color: #353535;
	width: 300px;
	word-wrap: break-word;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}
.news-letter {
	box-sizing: border-box;
	margin-right: 15px;
	padding: 35px 25px;
	float: right;
	width: 560px;
    background: #f8f7f4 url("../img/bg-mail.png") no-repeat 100%;
    border-radius: 20px;
    color: #5a5a5a;

	 /* Только для оформления сетки */
    min-height: 220px;
}
.maps {
	margin-top: 40px;
    width: 1200px;
    background: #ffffff url("../img/map-pin.png") no-repeat 100%;
    min-height: 430px;
}
.contact-info {

	float: right;
	width: 300px;
	height: 305px;
	margin-top: 65px;
	margin-right: 27px;
	padding-top: 35px;
	padding-left: 27px;
	background: #fefefe;
	color: #343434;
	border-radius: 30px;
	text-align: left;
    

}

.main-footer {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 25px;
}
.footer-social {
	float: left;
	width: 330px;
}
.social-btn {
	margin-right: 18px;
}
.footer-contacts {
	float: left;
	width: 440px;
	text-align: left;
}
.footer-contacts a {
	display: inline-block;
	padding-left: 30px;
}

.footer-copyright {
	float: right;
	width: 300px;
}


/* Каталог */
.pages {
	float: right;
	bottom: 145px;
	right: 30px;
}
.pages a {
	display: block;
	padding:15px;
	text-decoration: none;
	font-size: 16px;
}
.pages .active {
	color: #353535;
	background: #ffffff;
	border-radius: 100px;
}
.filter {
	display: inline-block;
	text-align: top;
}
.filter-bg {
	height: 35px;
	padding: 0 15px;	
	line-height: 35px;	
	background: #aabab0;
	border-radius: 20px;
}
.top {
	width: 195px;
}
.price {
	width: 225px;
}
.fat {
	width: 408px;
}
.filler {
	width: 708px;
}
.submit {
	width: 148px;
}
